* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: black;
  color: #333;
}

header {
  background: linear-gradient(135deg, #0a1a2f, #103152);
  color: white;
  padding: 40px 20px;
  text-align: center;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}
nav {
  background: #123456;
  padding: 15px 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

nav a {
  color: white;
  margin: 0 20px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #00d4ff;
}

.section {
  color: white;
  padding: 50px 20px;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

#about img {
  width: 180px;
  margin-bottom: 10px;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: rgb(29, 29, 29);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  color: white;
}

footer {
  text-align: center;
  padding: 20px;
  background: #0a1a2f;
  color: white;
  margin-top: 30px;
}

/* Responsive Design */
@media (max-width: 768px) {
  header h1 {
    font-size: 24px;
  }
  nav a {
    margin: 0 10px;
  }
}

@media (max-width: 480px) {
  nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  nav a {
    display: block;
    padding: 5px 0;
  }
}


.container {
  width: 90%;
  max-width: 900px;
  background: #ffffff;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0,0,0,0.1);
}

h1, h2 {
  color: #1e3a8a;
  margin-bottom: 15px;
}

/* SKILLS BOX */
.skills-box {
  margin-top: 10px;
}

.skills-box span {
  display: inline-block;
  background: #dbe7ff; /* soft blue */
  color: #1e3a8a;
  padding: 10px 14px;
  margin: 8px;
  border-radius: 6px;
  font-weight: bold;
}

/* FOOTER */
footer {
  background: #1e3a8a;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

/* RESPONSIVE DESIGN */
@media (max-width: 600px) {
  nav a {
    margin: 0 10px;
    font-size: 14px;
  }

  .container {
    padding: 25px;
  }

  h1 {
    font-size: 24px;
  }
}
